body {
    background: #141414;
    color: #dddfe2;
    margin: 0px;
    padding: 0px;    
}

.container {
    margin: 0px auto;
    padding: 0px;
    width: 95%;
    /* Для отладки */
    /* border: solid thin white; */
}

.container img {
    width: 100%;
}

.std-blockstyle {
    border: solid 3px #8d8d8d;
    background: #222222;
}

.std-halfborder {
    border-left: 0px;
    border-right: 0px;
}

.std-blockspace {
    margin-bottom: 20px;
}

/* Page hat */
.hat-name {
    display: block;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.hat-menu {
    text-align: right;
    font-size: 1.5em;
}

.hat-menu ul {
    display: block;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.hat-menu li {
    display: inline-block;
    margin: 5px 10px 5px 10px;
    padding: 0px;
}

.hat-menu a {
    color: white;
    text-decoration: none;
}

/* Blocks of content */
.std-contentheight {
    height: 600px;
}

.vertical-block {
    width: 48.5%;
    height: 99%;
    margin-right: 1.5%;
    float: left;
}

.vertical-block img {
    display: block;
    width: 48%;
    height: 100%;
    margin-right: 2%;
    float: left;
}

.vertical-block h2 {
    display: inline-block;
    width: 50%;
    height: 5%;
    margin: 0;
    margin-top: 2%;
}

.vertical-block p {
    display: inline-block;
    width: 50%;
    height: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: justify;
}

.horizontal-block {
    width: 48%;
    height: 30.3%;
    margin-bottom: 1%;
    overflow: hidden;
    display: inline-block;
}

.horizontal-block img {
    display: inline-block;
    width: 48%;
    height: 48%;
    margin: 1%;
    vertical-align: top;
}

.horizontal-block h2 {
    display: inline-block;
    width: 49%;
    height: 32%;
    margin: 0;
    margin-top: 1%;
    padding-top: 6%;
}

.horizontal-block p {
    display: block;
    margin: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

/* Footer content */
footer {
    overflow: hidden;
    padding: 0;
}

.footer-copyrights {
    display: inline-block;
    text-align: left;
    width: 48.7%;
    margin: 5px 0 5px 0;
    padding-left: 1%;
    line-height: 2.5em;
}

.footer-contacts {
    display: inline-block;
    text-align: right;
    width: 48.7%;
    margin: 5px 0 5px 0;
    padding-right: 1%;
    line-height: 2.5em;
}