.container {
    width: 74%;
    margin: auto;
    padding: 2% 2% 2% 2%;
    background: #82cda1;
}

.content-feild {
    width: 230px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 2%;
}

.content-feild h3 {
    background: white;
    margin: 0;
    line-height: 0.9em;
    display: inline;
}

.content-feild p {
    background: white;
    margin: 0;
    width: 100%;
    height: 60%;
}